#postgres details
DB_USER=my_user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=my_db

#kafka details
KAFKA_BROKER=localhost:9092
OHLCV_TOPIC=postgres-topic_name
L2_BOOK_TOPIC=postgres-topic_name
GROUPED_BOOK_TOPIC=postgres-topic_name
RECENT_CRYPTO_TRADES_TOPIC=postgres-topic_name
RECENT_CRYPTO_SPREADS_TOPIC=postgres-topic_name

#cassandra
CASSANDRA_HOST = localhost
CASSANDRA_PORT = my_port